apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: webstack-lt
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: api-lt:2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MONGO_URL
              value: "mongodb://mongo:27017/webstack"
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: webstack-lt
spec:
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
