apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: webstack-lt
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: api-lt:2.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000

          # Readiness = “mag ik verkeer krijgen?”
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3

          # Liveness = “ben ik kapot? -> restart”
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3

          env:
            - name: MONGO_URL
              value: "mongodb://mongo:27017/webstack"
---
apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: webstack-lt
spec:
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
